.home {
  height: 100vh;
  overflow: hidden;
  position: relative;

  .background {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.5;
      z-index: 2;
    }
  }

  .container {
    position: relative;
    color: #fff;
    max-width: 500px;
    margin: calc(50vh - 60px) auto 0;
    font-size: 24px;
    text-align: center;
    border: 1px solid #fff;
  }

  .content {
    padding: 60px 30px;
  }

  .links {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }
}
