:local {
    .button {
      border: 1px solid #fff;
      padding: 10px 0;
      font-size: 16px;
      border-radius: 5px;
      box-sizing: border-box;
      color: #fff;
  
      &:hover {
        background: #fff;
        color: #000;
      }
    }
  
    .small {
      width: 180px;
    }
  
    .medium {
      width: 220px;
    }
  
    .long {
      width: 280px;
    }
  }
  